/**************************
*         COLORS
*
*   Green : #056839
*   Brown : #461b08
*   Red : #b23a18
*   Orange : #ef6924
*   Beige : #f9d271
*   Darkbeige : #c19f4e
*
***************************/

html, body{ margin: 0; padding: 0; }

/* Desktops and laptops ----------- */

.content{
    width: 1200px;
    margin: 0 auto;
    border: 3px solid red;
}

body{
    background-image: url("../img/bg.jpg") ;
    background-attachment: repeat ;
}

.header_bg{
    width: 100% ;
    height: 40px ;
    background: #542307;
}

.logo{
    width: 100px ;
    height: 100px  ;
    display: inline-block ;
}

.logo img, .logo a{
    width: 100% ;
    height: 100% ;
}


header .content{
    margin-top: -30px ;
}

header nav{
    background-color: #542307;
    display: inline-block ;
    vertical-align: top ;
	width: 91.3%;
}

header li{
	display : inline;
	color: #f9d271;
}

header ul a{
	color: #f9d271;
}


.jumbotron{
    width: 65% ;
    margin : 0 auto;
    background-image: url("../img/pizza.jpg");
    border: 4px solid green;
    padding: 2em;
    margin-top: 2em;
}

.jumbotron_content{
    background-color: #542307;
    padding: 0.1em 2em 2em 2em;
}

	/* Page liste produits ------*/

#txt1 {
	margin-left: 25%;
	color: #b23a18;
	font-size: 3em;
}
	
.produits{
	margin-top: 5%;
	margin-left: 25%;
	margin-right:25%;
}

.produits table{
	width: 90%;
	height: 500px ;
}

.produits table td{
	border: 5px dashed #056839;
	text-align: center;
	
}


/* GRID */

.left_50, .left_75{
    display: inline-block;
    background: blue;
    padding: 1%;
}

.right_25, .right_50{
    display: inline-block;
    background: green;
    padding: 1%;
    margin-left: -4px; /* Remove @whitespace */
}

.left_50, .right_50{  width: 48%; }
.left_75, .right_75{ width: 73%; }
.right_25, .left_25{ width: 23%; }

.col_33{
    display: inline-block;
    background: pink;
    width: 31.3333333%;
    padding: 1%;
    margin-left: -4px; /* Remove @whitespace */
}

.col_33:first-child{ margin-left: 0; }

.left_right{
    width: 98%;
    background: yellow;
    display: inline-block;
    padding: 1%;
}

/* Promos */
.promo{
    background: red;
}


/* FONTS */
h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

/* Tablets (landscape) ----------- */
@media only screen and (max-width : 1224px) {

    .content{ width: 1024px; }

}

/* Tablets (portrait) ----------- */
@media only screen and (max-width : 1024px) {

    .content{ width: 768px; }

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {

    .content{ width: 100%; margin: 0; }

    .left_50, .right_50, .left_75, .right_75, .right_25, .left_25{ width: 98%; margin:0; }

}

/* Smartphones (portrait) */
@media only screen and (max-width : 321px) {

    .content{ width: 100%; margin: 0; }

    .left_50, .right_50, .left_75, .right_75, .right_25, .left_25{ width: 98%; margin:0; }

}